# attempting to ignore all document files, but not 100% sure I'm doing this right
place_docs_here/*
models_dir/*
outputs/*
.DS_Store
.Rhistory
anchor/anchor_state-30.gz
anchor/anchors-30.txt
anchor/initial_state-30.gz
anchor/instances.pruned
anchor/topic_words-30.txt
anchor/vocab.txt
saved.instances
world.instances
values.instances
secrets
.ipynb*
